/* Layers */
.layerGroup {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 90%;
  }
  /* Estilo para el div que cubre toda la pantalla */
.full-screen {
  position: fixed;  /* Fija el div en la pantalla */
  top: 0;           /* Alinéa al inicio de la pantalla */
  left: 0;          /* Alinéa al inicio de la pantalla */
  width: 100vw;     /* Ancho completo de la pantalla */
  height: 100vh;    /* Altura completa de la pantalla */
  background-color: rgb(26, 24, 24); /* Color de fondo negro */
  z-index: 9999;    /* Asegúrate de que esté en frente */
}
/* Estilo para centrar el div en la parte superior */
/* Estilo para centrar el div en la parte superior */
.centered-div {
  position: absolute;  /* Posiciona el div relativo a su contenedor */
  top: 10px;           /* Ajusta la distancia desde la parte superior */
  left: 50%;           /* Mueve el div al centro horizontalmente */
  transform: translate(-50%, 0);  /* Ajusta el div para que esté perfectamente centrado */
  background-color: black;  /* Color de fondo negro */
  color: white;        /* Color de texto blanco */
  padding: 20px;       /* Espaciado interno */
  width: fit-content;  /* Ajusta el ancho al contenido */
}

